name: CI

on:
  push:
    branches:
      - main
      - develop
      - feature/**
      - fix/**
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22' # ajuste para a versão que você realmente usa
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint (se existir)
        run: npm run lint --if-present

      - name: Tests (se existir)
        run: npm test --if-present

      - name: Build (se fizer sentido)
        run: npm run build --if-present
